In [53]:
# 데이터 불러오기
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt


food = pd.read_csv('C:/Users/82109/Documents/sda_2023/Food_Supply_kcal_Data.csv')
life = pd.read_csv('C:/Users/82109/Documents/sda_2023/healthy_lifestyle_city_2021.csv')

#food
#life

In [54]:
## food 전처리 ##
food['Undernourished'] = food['Undernourished'].map(lambda x: '1.0' if x == '<2.5' else x).astype('float64')
food = food.drop('Unit (all except Population)', axis=1)
food = food.dropna()

# 결측값 유무 확인
#food.isnull().sum()

Country                     0
Alcoholic Beverages         0
Animal Products             0
Animal fats                 0
Aquatic Products, Other     0
Cereals - Excluding Beer    0
Eggs                        0
Fish, Seafood               0
Fruits - Excluding Wine     0
Meat                        0
Milk - Excluding Butter     0
Miscellaneous               0
Offals                      0
Oilcrops                    0
Pulses                      0
Spices                      0
Starchy Roots               0
Stimulants                  0
Sugar Crops                 0
Sugar & Sweeteners          0
Treenuts                    0
Vegetal Products            0
Vegetable Oils              0
Vegetables                  0
Obesity                     0
Undernourished              0
Confirmed                   0
Deaths                      0
Recovered                   0
Active                      0
Population                  0
dtype: int64

In [55]:
## life 전처리 ##
col_name = {
    'City': 'Country',
    'Rank': 'Rank',
    'Sunshine hours(City)': 'Sunshine hours',
    'Cost of a bottle of water(City)': 'Cost of a bottle of water',
    'Obesity levels(Country)': 'Obesity levels',
    'Life expectancy(years) (Country)': 'Life expectancy(years)',
    'Pollution(Index score) (City)': 'Pollution(Index score)',
    'Annual avg. hours worked': 'Annual avg. hours worked',
    'Happiness levels(Country)': 'Happiness levels',
    'Outdoor activities(City)': 'Outdoor activities',
    'Number of take out places(City)': 'Number of take out places',
    'Cost of a monthly gym membership(City)': 'Cost of a monthly gym membership'
}
life.rename(columns=col_name, inplace=True)

# 결측치 정제 (결측치들 평균 값으로 대체)
life['Sunshine hours'] = life['Sunshine hours'].replace('-', pd.NA)
life['Sunshine hours'] = pd.to_numeric(life['Sunshine hours'], errors='coerce')
mean_Sunshine_hours = life['Sunshine hours'].mean()
life['Sunshine hours'].fillna(mean_Sunshine_hours, inplace=True)
#life['Sunshine hours']

life['Pollution(Index score)'] = life['Pollution(Index score)'].replace('-', pd.NA)
life['Pollution(Index score)'] = pd.to_numeric(life['Pollution(Index score)'], errors='coerce')
mean_Pollution = life['Pollution(Index score)'].mean()
life['Pollution(Index score)'].fillna(mean_Pollution, inplace=True)
#life['Pollution(Index score)']

life['Annual avg. hours worked'] = life['Annual avg. hours worked'].replace('-', pd.NA)
life['Annual avg. hours worked'] = pd.to_numeric(life['Annual avg. hours worked'], errors='coerce')
mean_worked = life['Annual avg. hours worked'].mean()
life['Annual avg. hours worked'].fillna(mean_worked, inplace=True)
#life['Annual avg. hours worked']

# 단위 기호 빼기
life['Obesity levels'] = life['Obesity levels'].astype(str)
life['Obesity levels'] = life['Obesity levels'].str.rstrip('%').astype('float')
#print(life['Obesity levels'])


life['Cost of a bottle of water'] = life['Cost of a bottle of water'].astype(str)
life['Cost of a bottle of water'] = life['Cost of a bottle of water'].str.replace('£', '').astype('float')
#print(life['Cost of a bottle of water'])

life['Cost of a monthly gym membership'] = life['Cost of a monthly gym membership'].astype(str)
life['Cost of a monthly gym membership'] = life['Cost of a monthly gym membership'].str.replace('£', '').astype('float')
#print(life['Cost of a monthly gym membership'])

# city -> country
country_mapping = {
    'Amsterdam': 'Netherlands',
    'Sydney': 'Australia',
    'Vienna': 'Austria',
    'Stockholm': 'Sweden',
    'Copenhagen': 'Denmark',
    'Helsinki': 'Finland',
    'Fukuoka': 'Japan',
    'Berlin': 'Germany',
    'Barcelona': 'Spain',
    'Vancouver': 'Canada',
    'Melbourne': 'Australia',
    'Beijing': 'China',
    'Bangkok': 'Thailand',
    'Buenos Aires': 'Argentina',
    'Toronto': 'Canada',
    'Madrid': 'Spain',
    'Jakarta': 'Indonesia',
    'Seoul': 'South Korea',
    'Frankfurt': 'Germany',
    'Geneva': 'Switzerland',
    'Tel Aviv': 'Israel',
    'Istanbul': 'Turkey',
    'Cairo': 'Egypt',
    'Taipei': 'Taiwan',
    'Los Angeles': 'United States',
    'Mumbai': 'India',
    'Boston': 'United States',
    'Dublin': 'Ireland',
    'Tokyo': 'Japan',
    'Chicago': 'United States',
    'Hong Kong': 'Hong Kong',
    'Shanghai': 'China',
    'Brussels': 'Belgium',
    'San Francisco': 'United States',
    'Paris': 'France',
    'Sao Paulo': 'Brazil',
    'Zurich': 'Switzerland',
    'London': 'United Kingdom',
    'Johannesburg': 'South Africa',
    'Milan': 'Italy',
    'Washington, D.C.': 'United States',
    'New York': 'United States',
    'Moscow': 'Russia',
    'Mexico City': 'Mexico'
}
life['Country'] = life['Country'].replace(country_mapping)

In [56]:
# 전처리한 food 확인하기
food

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,0.0000,4.7774,0.8504,0.0,37.1186,0.1501,0.0000,1.4757,1.2006,...,45.2476,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0
1,Albania,0.9120,16.0930,1.0591,0.0,16.2107,0.8091,0.1471,3.8982,3.8688,...,33.9070,2.8244,2.7508,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0
2,Algeria,0.0896,6.0326,0.1941,0.0,25.0112,0.4181,0.1195,3.1805,1.2543,...,43.9749,5.7638,2.0457,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0
3,Angola,1.9388,4.6927,0.2644,0.0,18.3521,0.0441,0.8372,2.3133,2.9302,...,45.3184,4.2741,0.3525,6.8,25.0,0.061687,0.001461,0.056808,0.003419,32522000.0
5,Argentina,1.4354,14.9869,1.0650,0.0,16.7927,0.8643,0.2006,1.4663,9.4459,...,34.9900,5.5410,0.8643,28.5,4.6,4.356147,0.108227,3.905192,0.342729,45377000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.8454,7.2303,0.6007,0.0,21.3126,0.2892,0.4449,2.3804,3.1368,...,42.7586,7.5417,0.6674,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0
166,Vietnam,0.7150,10.9806,0.9363,0.0,26.9833,0.2894,1.0385,1.8046,7.8311,...,39.0364,1.3279,1.9578,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0
167,Yemen,0.0000,3.4667,0.3394,0.0,32.0727,0.1455,0.1697,1.1879,2.0121,...,46.5455,3.9515,0.3636,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0
168,Zambia,1.1925,3.3043,0.3230,0.0,31.5528,0.1988,0.5714,0.2236,1.5155,...,46.7081,3.0062,0.4472,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0
169,Zimbabwe,1.4269,3.9356,0.6904,0.0,29.8044,0.1381,0.1611,0.4373,1.7491,...,46.0759,6.2601,0.2532,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0

In [57]:
# 전처리한 life 확인하기
life

,Country,Rank,Sunshine hours,Cost of a bottle of water,Obesity levels,Life expectancy(years),Pollution(Index score),Annual avg. hours worked,Happiness levels,Outdoor activities,Number of take out places,Cost of a monthly gym membership
0,Netherlands,1,1858.000000,1.92,20.4,81.2,30.930000,1434.000000,7.44,422,1048,34.90
1,Australia,2,2636.000000,1.48,29.0,82.1,26.860000,1712.000000,7.22,406,1103,41.66
2,Austria,3,1884.000000,1.94,20.1,81.0,17.330000,1501.000000,7.29,132,1008,25.74
3,Sweden,4,1821.000000,1.72,20.6,81.8,19.630000,1452.000000,7.35,129,598,37.31
4,Denmark,5,1630.000000,2.19,19.7,79.8,21.240000,1380.000000,7.64,154,523,32.53
5,Finland,6,1662.000000,1.60,22.2,80.4,13.080000,1540.000000,7.80,113,309,35.23
6,Japan,7,2769.000000,0.78,4.3,83.2,51.122326,1644.000000,5.87,35,539,55.87
7,Germany,8,1626.000000,1.55,22.3,80.6,39.410000,1386.000000,7.07,254,1729,26.11
8,Spain,9,2591.000000,1.19,23.8,82.2,65.190000,1686.000000,6.40,585,2344,37.80
9,Canada,10,1938.000000,1.08,29.4,81.7,24.260000,1670.000000,7.23,218,788,31.04
10,Australia,11,2363.000000,1.57,29.0,82.1,25.900000,1712.000000,7.22,243,813,36.89
11,China,12,2671.000000,0.26,6.2,75.4,85.430000,1672.909091,5.12,223,261,38.62
12,Thailand,13,2624.000000,0.22,10.0,74.1,76.640000,1672.909091,5.99,377,1796,50.03
13,Argentina,14,2525.000000,0.57,28.3,75.9,52.640000,1672.909091,5.97,246,1435,22.45
14,Canada,15,2066.000000,1.09,29.4,81.7,37.830000,1670.000000,7.23,174,1656,32.64
15,Spain,16,2769.000000,1.30,23.8,82.2,52.680000,1686.000000,6.40,216,2491,34.54
16,Indonesia,17,2983.000000,0.21,6.9,68.5,84.390000,1672.909091,5.28,114,833,29.94
17,South Korea,18,2066.000000,0.59,4.7,81.3,57.820000,1967.000000,5.87,144,389,43.03
18,Germany,19,1662.000000,1.95,22.3,80.6,37.780000,1386.000000,7.07,23,551,39.01
19,Switzerland,20,2245.860465,2.62,19.5,82.6,27.250000,1557.000000,7.56,44,444,70.00
20,Israel,21,3311.000000,1.63,26.1,81.9,47.280000,1898.000000,7.12,139,420,58.31
21,Turkey,22,2218.000000,0.15,32.1,74.7,69.490000,1832.000000,5.13,419,934,16.97
22,Egypt,23,3542.000000,0.16,32.0,70.7,91.740000,1672.909091,4.15,323,250,23.25
23,Taiwan,24,1405.000000,0.57,6.2,75.4,49.320000,1672.909091,5.12,134,717,34.76
24,United States,25,3254.000000,1.52,36.2,78.8,66.070000,1779.000000,6.94,223,1439,32.00
25,India,26,2584.000000,0.15,3.9,67.3,82.840000,1672.909091,3.57,187,1183,19.54
26,United States,27,2634.000000,1.39,36.2,78.8,27.030000,1779.000000,6.94,88,588,46.27
27,Ireland,28,1453.000000,1.40,25.3,80.5,40.070000,1772.000000,7.09,159,659,37.35
28,Japan,29,1877.000000,0.76,4.3,83.2,42.840000,1644.000000,5.87,387,5802,70.82
29,United States,30,2508.000000,1.20,36.2,78.8,43.330000,1779.000000,6.94,171,1320,41.14
30,Hong Kong,31,1836.000000,0.75,6.2,75.4,67.460000,1672.909091,5.51,277,1257,57.95
31,China,32,1776.000000,0.29,6.2,75.4,77.400000,1672.909091,5.12,108,346,44.68
32,Belgium,33,1546.000000,2.11,22.1,80.4,62.670000,1583.000000,6.86,55,988,25.34
33,United States,34,3062.000000,1.60,36.2,78.8,47.360000,1779.000000,6.94,242,1031,65.13
34,France,35,1662.000000,1.95,21.6,81.8,65.100000,1505.000000,6.66,331,4363,35.93
35,Brazil,36,2003.000000,0.44,22.1,73.9,79.780000,1672.909091,6.37,158,3355,16.07
36,Switzerland,37,1566.000000,3.20,19.5,82.6,17.310000,1557.000000,7.56,69,538,73.11
37,United Kingdom,38,1633.000000,1.16,27.8,80.4,58.910000,1538.000000,7.16,433,6417,42.71
38,South Africa,39,3124.000000,0.59,28.3,56.3,61.830000,1672.909091,4.81,194,492,24.28
39,Italy,40,1915.000000,1.15,19.9,82.7,67.190000,1718.000000,6.38,110,2396,53.49
40,United States,41,2528.000000,1.45,36.2,78.8,39.180000,1779.000000,6.94,83,744,65.99
41,United States,42,2535.000000,1.32,36.2,78.8,57.360000,1779.000000,6.94,359,3081,64.66
42,Russia,43,1901.000000,0.41,23.1,69.5,57.630000,1965.000000,5.54,322,3206,31.40
43,Mexico,44,2555.000000,0.45,28.9,76.4,82.780000,2137.000000,6.46,192,1313,41.99